<!-- /templates/page.liquid -->
<div id="page_content_wrap" class="grid">
  <div class="grid__item large--one-half">

    <header class="section-header">
      <h1>{{ page.title }}</h1>

    </header>

    <div class="grid">
      <div class="grid__item">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>
      </div>
    </div>

  </div>
</div>
